<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Mini URL</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/style.css">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="static/js/Chart.min.js"></script>
      <script src="static/js/script.js"></script>
      <style>
        body { 
          background: #2a2a2a;
        }
        h3 {
          margin-top: 50px;
          text-align: center;
        }
        canvas {
          display: block;
          margin: 50px auto 0 auto;
        }
      </style>
    </head>
    <body>
      <div class="row">
        <div class="col-md-4">
          <h3>Usage over time</h3>
          <canvas id="usage" width="300" height="150"></canvas>
        </div>
        <div class="col-md-4">
          <h3>Browsers</h3>
          <canvas id="browsers" width="300" height="150"></canvas>
        </div>
        <div class="col-md-4">
          <h3>Platform</h3>
          <canvas id="platform" width="300" height="150"></canvas>
        </div>
      </div>
    </body>
</html>

